<a href="https://colab.research.google.com/github/Tchuissi/Tchuissi_DATA606/blob/main/ipynb/Final606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis**

## **Read and merge the data**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [23]:
# Read the first dataset

df1 = pd.read_csv("residential.csv")
df1.head()

            SSL  BATHRM  HF_BATHRM  ...  LANDAREA       GIS_LAST_MOD_DTTM  OBJECTID
0  0028    0820     2.0        1.0  ...      1242  2022/02/18 05:17:55+00  59113722
1  0028    0821     1.0        1.0  ...       836  2022/02/18 05:17:55+00  59113723
2  0028    0829     3.0        0.0  ...      1833  2022/02/18 05:17:55+00  59113724
3  0028    0850     1.0        0.0  ...       633  2022/02/18 05:17:55+00  59113725
4  0028    0854     2.0        0.0  ...       600  2022/02/18 05:17:55+00  59113726

[5 rows x 39 columns]

In [24]:
# Drop columns

df1 =df1.drop(['HF_BATHRM','AC','NUM_UNITS','AYB','YR_RMDL','EYB','QUALIFIED','SALE_NUM','BLDG_NUM','STYLE','STYLE_D','KITCHENS','FIREPLACES','USECODE','LANDAREA','GIS_LAST_MOD_DTTM','OBJECTID'], axis=1)
df1.head()

            SSL  BATHRM  HEAT         HEAT_D  ...  ROOF    ROOF_D  INTWALL INTWALL_D
0  0028    0820     2.0  13.0  Hot Water Rad  ...   2.0  Built Up      6.0  Hardwood
1  0028    0821     1.0   8.0        Ht Pump  ...   2.0  Built Up      6.0  Hardwood
2  0028    0829     3.0   8.0        Ht Pump  ...   2.0  Built Up      6.0  Hardwood
3  0028    0850     1.0   1.0     Forced Air  ...   2.0  Built Up      6.0  Hardwood
4  0028    0854     2.0   7.0      Warm Cool  ...   2.0  Built Up      6.0  Hardwood

[5 rows x 22 columns]

In [25]:
df1.shape

(108229, 22)

In [26]:
# how many unique ID?
len(set(df1['SSL']))

108144

In [27]:
# remove all the rows that contain a missing value
df1 = df1.dropna()
df1.shape

(92056, 22)

In [44]:
df2 = df1.groupby(['HEAT', 'HEAT_D']).size().reset_index(name='Freq')
print (df2)

    HEAT          HEAT_D   Freq
0    0.0         No Data     37
1    1.0      Forced Air  32932
2    2.0         Air-Oil     72
3    3.0    Wall Furnace    169
4    4.0    Electric Rad     57
5    5.0   Elec Base Brd    112
6    6.0  Water Base Brd    152
7    7.0       Warm Cool  23010
8    8.0         Ht Pump   1488
9    9.0        Evp Cool     26
10  10.0      Air Exchng     29
11  11.0  Gravity Furnac     86
12  12.0        Ind Unit     15
13  13.0   Hot Water Rad  33871

In [45]:
df3 = df1.groupby(['STRUCT', 'STRUCT_D']).size().reset_index(name='Freq')
print (df3)

   STRUCT       STRUCT_D   Freq
0     0.0        No Data     16
1     1.0         Single  27063
2     2.0          Multi   4120
3     4.0       Town End     88
4     5.0    Town Inside    234
5     6.0        Row End  10810
6     7.0     Row Inside  35806
7     8.0  Semi-Detached  13919

In [43]:
df4 = df1.groupby(['GRADE', 'GRADE_D']).size().reset_index(name='Freq')
print (df4)

    GRADE        GRADE_D   Freq
0     0.0        No Data      8
1     1.0    Low Quality      3
2     2.0   Fair Quality    109
3     3.0        Average  30787
4     4.0  Above Average  28263
5     5.0   Good Quality  18453
6     6.0      Very Good   7972
7     7.0      Excellent   3005
8     8.0       Superior   2309
9     9.0  Exceptional-A    755
10   10.0  Exceptional-B    266
11   11.0  Exceptional-C     75
12   12.0  Exceptional-D     51

In [48]:
df6 = df1.groupby(['CNDTN', 'CNDTN_D']).size().reset_index(name='Freq')
print (df6)

   CNDTN    CNDTN_D   Freq
0    0.0    Typical     11
1    1.0       Poor    125
2    2.0       Fair    850
3    3.0    Average  41367
4    4.0       Good  37583
5    5.0  Very Good  10736
6    6.0  Excellent   1384

In [47]:
df5 = df1.groupby(['EXTWALL', 'EXTWALL_D']).size().reset_index(name='Freq')
print (df5)

    EXTWALL       EXTWALL_D   Freq
0       0.0         No Data     15
1       1.0         Plywood     10
2       2.0       Hardboard    146
3       3.0    Metal Siding     68
4       4.0    Vinyl Siding   5013
5       5.0          Stucco   2713
6       6.0     Wood Siding   3786
7       7.0         Shingle    935
8       8.0        SPlaster      2
9      10.0    Brick Veneer    877
10     11.0    Stone Veneer    223
11     12.0  Concrete Block     47
12     13.0    Stucco Block     44
13     14.0    Common Brick  69194
14     15.0      Face Brick    603
15     16.0           Adobe      2
16     17.0           Stone    615
17     18.0        Concrete     71
18     19.0        Aluminum    772
19     20.0     Brick/Stone    557
20     21.0    Brick/Stucco    600
21     22.0    Brick/Siding   5218
22     23.0    Stone/Stucco    218
23     24.0    Stone/Siding    327

In [49]:
df7 = df1.groupby(['ROOF', 'ROOF_D']).size().reset_index(name='Freq')
print (df7)

    ROOF          ROOF_D   Freq
0    0.0         Typical    185
1    1.0    Comp Shingle  26408
2    2.0        Built Up  27349
3    3.0         Shingle    407
4    4.0           Shake    692
5    5.0      Metal- Pre    211
6    6.0      Metal- Sms  25486
7    7.0      Metal- Cpr     41
8    8.0  Composition Ro    159
9    9.0   Concrete Tile     14
10  10.0       Clay Tile    537
11  11.0           Slate   9302
12  12.0        Concrete      8
13  13.0         Neopren   1240
14  14.0     Water Proof     10
15  15.0        Wood- FS      7

In [50]:
df8 = df1.groupby(['INTWALL', 'INTWALL_D']).size().reset_index(name='Freq')
print (df8)

    INTWALL      INTWALL_D   Freq
0       0.0        No Data     82
1       1.0      Resiliant     14
2       2.0         Carpet   2994
3       3.0     Wood Floor   6544
4       4.0   Ceramic Tile     49
5       5.0        Terrazo     25
6       6.0       Hardwood  72116
7       7.0        Parquet     16
8       8.0     Vinyl Comp     29
9       9.0    Vinyl Sheet     13
10     10.0    Lt Concrete     99
11     11.0  Hardwood/Carp  10075

In [36]:
df1[['BATHRM', 'ROOMS','BEDRM','STORIES','PRICE','GBA']].describe()

             BATHRM         ROOMS  ...         PRICE           GBA
count  92056.000000  92056.000000  ...  9.205600e+04  92056.000000
mean       2.180195      7.436984  ...  4.501493e+05   1742.567394
std        1.091695      2.376556  ...  6.556871e+05    850.547849
min        0.000000      0.000000  ...  0.000000e+00      0.000000
25%        1.000000      6.000000  ...  0.000000e+00   1216.000000
50%        2.000000      7.000000  ...  2.850000e+05   1512.000000
75%        3.000000      8.000000  ...  6.990000e+05   2013.000000
max       24.000000    101.000000  ...  2.510000e+07  24030.000000

[8 rows x 6 columns]

In [37]:
df1[['BATHRM', 'ROOMS','BEDRM','STORIES','PRICE','GBA']].median()

BATHRM          2.0
ROOMS           7.0
BEDRM           3.0
STORIES         2.0
PRICE      285000.0
GBA          1512.0
dtype: float64

In [8]:
# Read the second dataset

df2 = pd.read_csv("condos.csv")
df2.head()

            SSL  BLDG_NUM  ...       GIS_LAST_MOD_DTTM  OBJECTID
0  0004N   2001         1  ...  2022/02/17 05:17:41+00  30975699
1  0004N   2002         1  ...  2022/02/17 05:17:41+00  30975700
2  0004N   2003         1  ...  2022/02/17 05:17:41+00  30975701
3  0004N   2004         1  ...  2022/02/17 05:17:41+00  30975702
4  0004N   2005         1  ...  2022/02/17 05:17:41+00  30975703

[5 rows x 23 columns]

In [9]:
df2.shape

(58665, 23)

In [18]:
# remove all the rows that contain a missing value
df2 = df2.dropna()
df2.shape

(33177, 23)

In [55]:
# Read the second dataset

df6 = pd.read_csv("address.csv")
df6=df6[['SSL','FULLADDRESS']]
df6.head()

            SSL          FULLADDRESS
0  5671    2022  2017 37TH STREET SE
1  5671    2023  2017 37TH STREET SE
2  5671    2024  2017 37TH STREET SE
3  5671    2025  2017 37TH STREET SE
4  5671    2026  2017 37TH STREET SE

In [56]:
df6.shape

(272579, 2)

In [57]:
# remove all the rows that contain a missing value
df6 = df6.dropna()
df6.shape

(62495, 2)

In [59]:
# Combining the two files
                        
final= pd.merge(df1,df6, on ='SSL')
final.head()

            SSL  BATHRM  HEAT  ... INTWALL  INTWALL_D       FULLADDRESS
0  1043    6054     3.0   1.0  ...     6.0   Hardwood  1309 E STREET SE
1  1043    6055     3.0   1.0  ...     6.0   Hardwood  1309 E STREET SE
2  1043    6057     3.0   1.0  ...     6.0   Hardwood  1309 E STREET SE
3  1043    6058     3.0   1.0  ...     6.0   Hardwood  1309 E STREET SE
4  1043    6059     3.0   1.0  ...     6.0   Hardwood  1309 E STREET SE

[5 rows x 23 columns]

In [60]:
final.shape

(19, 23)